yolk
Django==1.1.1
Jinja2
Markdown
PyYAML
Pygments
Sphinx
http://www.satchmoproject.com/snapshots/trml2pdf-1.2.tar.gz
Werkzeug
django-app-plugins
-e git://github.com/robhudson/django-debug-toolbar.git#egg=django_debug_toolbar-0.8.3-py2.6-dev
-e git://github.com/django-extensions/django-extensions.git#egg=django_extensions-0.4.2_pre-py2.6-dev
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django_registration-tip
-e hg+http://bitbucket.org/bkroeze/django-signals-ahoy/#egg=django_signals_ahoy-tip
-e hg+https://bkroeze@bitbucket.org/bkroeze/django-threaded-multihost/#egg=django_threaded_multihost-tip
-e svn+http://django-tagging.googlecode.com/svn/trunk/#egg=django-tagging
docutils
pycrypto
-e hg+https://sorl-thumbnail.googlecode.com/hg/#egg=sorl_thumbnail-tip
wsgiref
-e hg+http://bitbucket.org/chris1610/satchmo/#egg=satchmo
MySQL-python
python-memcached
django-cms==2.0.2
django-haystack
xapian-haystack
Whoosh
South
Fabric
recaptcha-client
simplejson
http://nltk.googlecode.com/files/nltk-2.0b8.tar.gz
-e git+http://github.com/facebook/python-sdk.git#egg=FacebookSDK
-e git+git://github.com/notanumber/xapian-haystack.git#egg=xapian-haystack
